<div class="lg:w-2/3 mx-auto space-y-5 py-10">
    <div class="flex w-full justify-between items-center">
        <h1 class="text-2xl font-semibold">Maning savatcham</h1>
        <%= link_to root_path do %>
            <p class="bg-slate-200 py-2 px-5 rounded-lg hover:text-base">Bosh sahifaga qaytish</p>
        <% end %>
    </div>
    <div class="w-full space-y-5">
        <% if @order.present? %>
            <div class="w-full space-y-5">
                <% @order.order_products.each do |or_pr| %>
                    <div class="w-full bg-white border rounded-xl overflow-hidden flex justify-between items-center">
                        <div class="flex gap-5 items-center">
                            <div class="w-32 h-32 rounded-xl overflow-hidden">
                                <%= image_tag or_pr.product.thumbnail380, class: "w-full h-full aspect-square object-cover" %>
                            </div>
                            <div>
                                <p class="w-72 truncate text-lg font-semibold"><%= or_pr.product.title %></p>
                                <p class="w-72 truncate"><%= or_pr.product.desc %></p>
                            </div>
                        </div>
                        <div class="flex gap-5 items-center p-5">
                            <div class="bg-base/30 py-2 px-5 rounded-lg">
                                <p class="text-lg font-bold text-base"><%= or_pr.amount %></p>
                            </div>
                            <p class="text-xl font-bold text-base"><%= or_pr.product.price * or_pr.amount %> sum</p>
                        </div>
                    </div>
                <% end %>
                <div class="w-full bg-white border rounded-xl overflow-hidden flex justify-between items-center p-5">
                    <p class="text-xl font-semibold">umumiy narx:</p>
                    <div class="flex items-center gap-4">
                        <strong class="text-base text-xl"><%= @order.order_products.sum { |op| op.amount * op.product.price } %> sum</strong>
                        <%= link_to @order, data: {"turbo-method": :delete, "turbo-confirm": :"Ishonchingiz komilmi?"} do %>
                            <p class="text-base items-center flex py-2 px-5 text-red-500 bg-gray-200 rounded-lg hover:bg-red-500 hover:text-white">Savatchani tozalash</p>
                        <% end %>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="w-full flex flex-col items-center justify-center my-24">
                <%= image_tag "pizza.png", class: "w-56" %>
                <h1 class="text-2xl font-bold mb-1">Savatchangiz bosh, taom tanlang!</h1>
                <p class="text-center w-2/3"><strong>eslatma:</strong> zakaz telefon raqam orqali amalga oshiriladi, iltimos telefon raqamingiz togri formatda ekanligiga ishonch hosil qiling</p>
                <%= link_to root_path do %>
                    <p class="bg-base text-white py-2 px-5 rounded-lg my-4">hozir taom tanlash</p>
                <% end %>
            </div>
        <% end %>
        <div class="w-full flex justify-between items-center">
            <p class="text-2xl font-semibold"><%= @order.present? ? "Qoshimcha taomlar" : "Hozir qoshing" %></p>
        </div>
        <div class="w-full grid grid-cols-4 gap-8">
            <% @products.first(4).each do |pr| %>
                <div class="bg-white border rounded-xl overflow-hidden">
                    <%= link_to product_path(pr) do %>
                        <div class="w-full">
                            <%= image_tag pr.thumbnail380, class: "w-full aspect-square" %>
                        </div>
                    <% end %>
                    <div class="p-4 w-full space-y-1">
                        <p class="font-bold text-xl w-full truncate"><%= pr.title %></p>
                        <p class="flex-1 truncate text-xl text-base font-semibold"><%= pr.price %>sum</p>
                    </div>
                    <div class="p-4 pt-0 w-full flex justify-between items-center">
                        <%= form_with url: add_to_cart_cart_index_path, method: :post, local: true, class: "w-full" do |form| %>
                          <%= hidden_field_tag :product_id, pr.id %>
                          <%= hidden_field_tag :amount, 1, min: 1 %>
                          <% if checking_ids.present? and checking_ids.include?(pr.id) %>
                            <%= form.submit "+ 1", class: 'text-base w-full hover:bg-base hover:text-white active:opasity-50 bg-transparent border-2 border-base rounded-md py-2 px-4 cursor-pointer' %>
                          <% else %>
                            <%= form.submit "savatchaga", class: 'text-white w-full bg-base rounded-md py-2 px-4 cursor-pointer ' %>
                          <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <% if @order.present? %>
            <%= button_to "Commit Order", checkout_order_path(@order), method: :patch, data: { confirm: "Are you sure you want to complete this order?" }, class: "bg-base text-white py-2 px-5 rounded-lg" %>
        <% end %>
    </div>
</div>