<div class="lg:w-2/3 mx-auto space-y-5 flex flex-col min-h-screen">
    <div class="w-full flex flex-col gap-3 justify-between lg:flex-row items-center py-3">
        <h1 class="text-xl font-bold">Yatkazib berish - <%= @delivery.name %></h1>
        <%= link_to user_path(@delivery.id) do %>
            <p class="py-2 px-5 bg-base text-white rounded-lg">Mening hisobim</p>
        <% end %>
    </div>
    <div class="w-full grid grid-cols-1 xl:grid-cols-3 gap-5">
        <div class="p-7 rounded-lg bg-gradient-to-r from-base to-yellow-500 text-white text-center">
            <h2 class="font-semibold text-xl text-center">Yetkazish uchun</h2>
            <strong class="text-3xl"><%= @orders.length %> ta</strong>
        </div>
        <div class="p-7 rounded-lg bg-gradient-to-r from-green-600 to-green-500 text-white text-center">
            <h2 class="font-semibold text-xl text-center">Bugun Yetkazib berildi</h2>
            <strong class="text-3xl"><%= @ordered_today.length %> ta</strong>
        </div>
        <div class="p-7 rounded-lg bg-gradient-to-r from-green-600 to-green-500 text-white text-center">
            <h2 class="font-semibold text-xl text-center">Jami yetkazib berilgan</h2>
            <strong class="text-3xl"><%= @total_delivered_orders.length %> ta</strong>
        </div>
    </div>
    <p class="w-full text-center font-semibold text-xl">sana: <%= Time.now.strftime("%d-%m-%Y") %></p>
    <div class="w-full space-y-5 flex-1">
        <div id="<%= "order-container-delivery-#{@delivery.id}" %>">
            <% @orders.each do |order| %>
                <div class="bg-white border rounded-xl">
                        <div class="p-4 grid grid-cols-2 gap-5 justify-between items-center border-b">
                          <div class="flex gap-5">
                            <% if order.status == "complate" %>
                              <i class="bg-green-500 px-1 py-3 rounded-full"></i>
                            <% else %>
                              <i class="bg-red-500 px-1 py-3 rounded-full"></i>
                            <% end %>
                            <div>
                              <p class="opacity-70 font-medium">nomer:</p>
                              <p class="font-semibold w-52 truncate">#<%= order.order_code %></p>
                            </div>
                          </div>
                          <div>
                            <p class="opacity-70 font-medium">telefon raqam:</p>
                            <p class="font-semibold w-52 truncate">+998 <%= order.user.mobile %></p>
                          </div>
                          <div>
                            <p class="opacity-70 font-medium">umumiy narxi:</p>
                            <p class="font-semibold w-52 truncate"><%= order.order_products.sum { |op| op.product.price * op.amount} %> sum</p>
                          </div>
                          <div>
                            <p class="opacity-70 font-medium">mahulotlar soni:</p>
                            <p class="font-semibold"><%= order.order_products.sum { |op| op.amount } %> ta</p>
                          </div>
                        </div>
                        <div class="flex flex-col border-b p-4">
                        <strong class="text-lg">manzil:</strong>
                        <p class="text-lg w-full truncate"><%= order.address %></p>
                        </div>
                        <div class="flex flex-col border-b">
                        <p class="text-lg font-semibold p-4 pb-0">Yetkazib berish kerak:</p>
                        <% order.order_products.each do |op| %>
                            <div class="p-4 flex justify-between items-center">
                              <div class="flex gap-5 items-center">
                                <% if op.product.is_active == true %>
                                  <i class="bg-green-500 px-1 py-3 rounded-full"></i>
                                <% else %>
                                  <i class="bg-red-500 px-1 py-3 rounded-full"></i>
                                <% end %>
                                <% if op.product.image.attached? %>
                                  <%= image_tag op.product.thumbnail, class: "w-10"%>
                                <% end %>
                                <p class="font-semibold w-52 truncate"><%= op.product.title %></p>
                              </div>
                              <div>
                                <p class=" opacity-70 font-medium">mahsulot soni:</p>
                                <p class="font-semibold"><%= op.amount %> ta</p>
                              </div>
                            </div>
                        <% end %>
                        </div>
                        <div class="p-4 flex justify-between gap-4">
                          <%= link_to success_delivery_path(order), data: {"turbo-method": :patch}, class: "flex-1" do %>
                            <p class="w-full text-white bg-green-500 rounded-lg py-2 text-center">Yetkazib berildi</p>
                          <% end %>
                          <%= link_to failed_delivery_path(order), data: {"turbo-method": :patch, "turbo-confirm": "ishonchingiz komilmi"}, class: "flex-1" do %>
                            <p class="w-full text-white bg-red-500 rounded-lg py-2 text-center">Yetkazib berilmadi</p>
                          <% end %>
                        </div>
                </div>
            <% end %>
        </div>
        <% if @orders.length <= 0 %>
          <%= render partial: "particials/pizzalert", locals: {message: "Hozircha Buyurtmalar yoq!", alert: "punktga boring yoki sizga buyurtma yoki qongiroq kelishini kuting", local_path: delivery_path(@delivery), btn_text: "sahifada qoling!"} %>
        <% end %>
    </div>
    <div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-5">
        <div class="p-5 rounded-lg bg-gradient-to-r from-red-600 to-red-500 text-white flex flex-col justify-center items-center gap-1">
            <h2 class="font-semibold text-xl text-center">Bugun Yetkazib berilmadi</h2>
            <strong class="text-3xl"><%= @failed_today.length %> ta</strong>
        </div>
        <div class="p-5 rounded-lg bg-gradient-to-r from-red-600 to-red-500 text-white flex flex-col justify-center items-center gap-1">
            <h2 class="font-semibold text-xl text-center">Jami yetkazib berilmagan</h2>
            <strong class="text-3xl"><%= @total_failed.length %> ta</strong>
        </div>
    </div>
    <p class="w-full text-center font-semibold text-xl">yordam kerakmi?</p>
    <div class="flex flex-col lg:flex-row justify-between items-center pb-5">
        <h2><strong>Admin raqami:</strong> +998 <%= settings.dispatcher_mobile %></h2>
        <h2><strong>Yaratuvchi raqami:</strong> +998 333038282</h2>
    </div>
</div>