<nav class="w-full">
    <div class="w-full hidden lg:flex justify-between gap-5">
        <% if categories.present? %>
            <% categories.each do |ct| %>
                <%= link_to category_path(ct), class: "flex-1" do %>
                    <div class="flex flex-col p-7 items-center justify-center bg-white rounded-xl border hover:border-base transition-all">
                        <%= image_tag ct.thumbnail, class: "rounded-full aspect-square w-7 h-7" %>
                        <%= ct.title %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div class="w-full flex lg:hidden justify-start gap-5 overflow-x-scroll">
        <% if categories.present? %>
            <% categories.each do |ct| %>
                <%= link_to category_path(ct) do %>
                    <div class="flex px-8 py-2 items-center gap-3 justify-center bg-white rounded border hover:border-base transition-all">
                        <%= image_tag ct.thumbnail, class: "rounded-full aspect-square w-7 h-7" %>
                        <%= ct.title %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</nav>