<footer class="w-full text-black p-10 border-t bg-white">
    <div class="container mx-auto px-5 grid grid-cols-4">
        <div class="space-y-4">
            <%= link_to admin_path, class: "flex items-center gap-2 text-xl" do %>
                <%= image_tag settings.icon.attached? ? settings.icon : "logo.png", class: "w-14 h-14" %> <%= settings.site_name %> admin
            <% end %>
            <p><i class='bx bxl-github text-lg text-t_base'></i> yaratuvchi github - <a href="https://github.com/silvante" target="_blank">silvante</a></p>
            <p><i class='bx bx-user-circle text-lg text-t_base' ></i> yaratuvchi portfolio - <a href="https://silvante.netlify.app" target="_blank">silvante</a></p>
        </div>
        <div>
            <ul class="space-y-4">
                <ul class="text-lg font-semibold">Kafe</ul>
                <li>Kafe haqida</li>
                <li>Foidalanuvchi huququ</li>
            </ul>
        </div>
        <div>
            <ul class="space-y-4">
                <ul class="text-lg font-semibold">Taom turlari</ul>
                <div class="space-y-4">
                    <% categories.each do |ct| %>
                        <%= link_to category_path(ct), class: "flex w-40 truncate" do %>
                            <p class="mb-4"><%= ct.title %></p>
                        <% end %>
                    <% end %>
                </div>
            </ul>
        </div>
        <div>
            <ul class="space-y-4">
                <ul class="text-lg font-semibold">Yordam va kantaktlar</ul>
                <li class="font-semibold"><i class='bx bx-user-voice text-2xl text-t_base'></i> +998 <%= settings.dispatcher_mobile %></li>
                <li class=""><i class='bx bx-location-plus text-2xl text-t_base'></i><%= settings.site_address %></li>
                <li class="space-x-5"><a href="<%= settings.instagram_link %>"><i class='bx bxl-instagram text-t_base text-lg' ></i> instgram</a>
            </ul>
        </div>
    </div>
</footer>