<header class="bg-white border-b text-black">
    <div class="w-full border-b">
        <div class="container mx-auto px-5 flex bg-white py-2 justify-between items-center">
            <div class="flex items-center gap-7">
                <p class="text-lg"><i class='bx bx-location-plus text-base text-lg'></i> <%= settings.site_address %></p>
                <p class="text-lg">zakaz kutish ortacha vaqti: <strong><%= settings.order_time %></strong></p>
            </div>
            <div class="flex items-center gap-7">
                <p class="text-lg">ish vaqti: <strong><%= settings.work_start_time.strftime("%H:%M") %></strong> dan <strong><%= settings.work_end_time.strftime("%H:%M") %></strong> gacha</p>
                <% if current_user.present? %>
                    <% if current_user.status == "client" %>
                        <%= link_to history_user_path(current_user) do %>
                            <p class="text-lg rounded-md py-1 px-3 hover:bg-base hover:text-white"><i class='bx bx-user-circle text-lg'></i> <%= current_user.name %></p>
                        <% end %>
                    <% elsif current_user.status == "admin" %>
                        <%= link_to new_admin_product_path do %>
                            <p class="text-lg rounded-md py-1 px-3 hover:bg-base hover:text-white"><i class='bx bx-layer-plus text-lg'></i> yangi mahsulot qoshish</p>
                        <% end %>
                    <% elsif current_user.status == "delivery" %>
                        <%= link_to user_path(current_user) do %>
                            <p class="text-lg rounded-md py-1 px-3 hover:bg-base hover:text-white"><i class='bx bx-user-circle text-lg'></i> <%= current_user.name %></p>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= link_to new_user_session_path do %>
                        <p class="text-lg rounded-md py-1 px-3 hover:bg-base hover:text-white"><i class='bx bx-user-circle text-lg'></i> LOG IN</p>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-5 flex bg-white py-4 justify-between items-center">
        <div class="flex items-center gap-10">
            <%= link_to root_path, class: "flex items-center gap-2 text-xl" do %>
                <%= image_tag settings.icon, class: "w-14 h-14" %> <%= settings.site_name %>
            <% end %>
            <% if categories.present? %>
                <% categories.first(5).each do |category| %>
                    <%= link_to category_path(category) do %>
                        <p class="text-lg"><%= category.title %></p>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="flex items-center gap-7">
            <% if user_signed_in? %>
                <% if current_user.status == "client" %>
                    <%= link_to cart_index_path do %>
                        <p class="bg-base text-white py-2 px-4 rounded-md text-lg"><i class='bx bx-cart-alt' ></i> <%= cart_total_price || 0 %> sum</p>
                    <% end %>
                <% elsif current_user.status == "admin" %>
                    <%= link_to admin_path do %>
                        <p class="bg-base text-white py-2 px-4 rounded-md text-lg"><i class='bx bxs-dashboard' ></i> admin paneli</p>
                    <% end %>
                <% elsif current_user.status == "delivery" %>
                    <%= link_to delivery_path(current_user.id) do %>
                        <p class="bg-base text-white py-2 px-4 rounded-md text-lg"><i class='bx bx-package' ></i> hizmat honasi</p>
                    <% end %>
                <% end %>
            <% else %>
                <%= link_to cart_index_path do %>
                    <p class="bg-base text-white py-2 px-4 rounded-md text-lg"><i class='bx bx-cart-alt' ></i> <%= cart_total_price || 0 %> sum</p>
                <% end %>
            <% end %>
        </div>
    </div>
</header>