<div class="w-full space-y-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Products" %>

  <div class="flex justify-between items-center p-4 bg-white rounded-lg border">
    <h1 class="font-bold text-2xl">Buyurtmalar</h1>
    <h1 class="text-2xl">sana: <strong><%= Time.now.strftime("%d-%m-%Y") %></strong></h1>
  </div>
    <%# if @checked_orders.length > 0 %>
      <div class="mx-auto lg:w-2/3">
        <div class="min-w-full space-y-5" id="order-container"> <!--# this is order-list-->
          <p class="font-semibold px-4">barcha yangi buyurtmalar:</p>
          <% @checked_orders.each do |checked_order| %>
            <div class="bg-white border rounded-xl">
                <div class="p-4 flex justify-between items-center border-b">
                <div class="flex gap-5">
                  <% if checked_order.status == "checked" %>
                    <i class="bg-green-500 px-1 py-3 rounded-full"></i>
                  <% else %>
                    <i class="bg-red-500 px-1 py-3 rounded-full"></i>
                  <% end %>
                  <div>
                    <p class=" opacity-70 font-medium">nomer:</p>
                    <p class="font-semibold w-52 truncate hover:underline">#<%= checked_order.order_code %></p>
                  </div>
                </div>
                <div>
                  <p class=" opacity-70 font-medium">telefon raqam:</p>
                  <p class="font-semibold w-52 truncate hover:underline">+998 <%= checked_order.user.mobile %></p>
                </div>
                <div>
                  <p class=" opacity-70 font-medium">umumiy narxi:</p>
                  <p class="font-semibold w-52 truncate hover:underline"><%= checked_order.order_products.sum { |op| op.product.price * op.amount} %> sum</p>
                </div>
                <div>
                  <p class=" opacity-70 font-medium">mahulotlar soni:</p>
                  <p class="font-semibold"><%= checked_order.order_products.sum { |op| op.amount } %> ta</p>
                </div>
                </div>
                <div class="flex flex-col border-b p-4">
                <strong class="text-lg">manzil:</strong>
                <p class="text-lg w-full truncate"><%= checked_order.address %></p>
                </div>
                <div class="flex flex-col border-b">
                <p class="text-lg font-semibold p-4 pb-0">Yetkazib berish kerak:</p>
                <% checked_order.order_products.each do |op| %>
                    <div class="p-4 flex justify-between items-center">
                      <div class="flex gap-5 items-center">
                        <% if op.product.is_active == true %>
                          <i class="bg-green-500 px-1 py-3 rounded-full"></i>
                        <% else %>
                          <i class="bg-red-500 px-1 py-3 rounded-full"></i>
                        <% end %>
                        <% if op.product.image.attached? %>
                          <%= image_tag op.product.thumbnail, class: "w-10"%>
                        <% end %>
                        <%= link_to admin_product_path(op.product) do %>
                          <p class="font-semibold w-52 truncate hover:underline"><%= op.product.title %></p>
                        <% end %>
                      </div>
                      <div>
                        <p class=" opacity-70 font-medium">mahsulot soni:</p>
                        <p class="font-semibold"><%= op.amount %> ta</p>
                      </div>
                    </div>
                <% end %>
                </div>
                <div class="flex flex-col p-4 gap-4">
                  <p class="text-lg font-semibold">Telefon qilib tekshirildimi?</p>
                  <div class="flex justify-between items-end">
                      <%= link_to failed_admin_order_path(checked_order), data: {"turbo-method": :patch, "turbo-confirm": "zakazni bekor qilishga ishonchingiz komilmi"} do %>
                        <p class="text-white bg-red-500 py-2 px-4 rounded-lg">buyurtmani bekor qilish</p>
                      <% end %>
                      <%= form_with url: commit_admin_order_path(checked_order), method: :patch, local: true do |form| %>
                        <div>
                            <div class="flex gap-5 justify-between items-end">
                              <div class="flex-1">
                                <%= form.label :delivery, 'Yetkazib beruvchini tanlang *' %>
                                <%= form.collection_select :delivery, delivery_workers, :id, :name, {}, { id: "delivery", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-72"} %>
                              </div>
                              <button type="submit" data-confirm="Are you sure you want to complete this order?" class="bg-green-500 text-white py-2 px-5 rounded-lg flex items-center gap-1">
                                <p>Jonatish</p> <i class='bx bx-send'></i>
                              </button>
                            </div>
                        </div>
                      <% end %>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>
    <%# else %>
    <%#= render partial: "particials/pizzalert", locals: {message: "Tayorlash kerak bolgan buyurtmalar yoq!", btn_text: "panelga qaytish", alert: "Mujozlardan biri Taom buyurtma qilganda buyurtma aynan shu sahifaqa korini beradi! Buyurtmalarni faqat Mijozlar bera oladi adminlar va yetkazib beruvchilar emas!", local_path: admin_path} %>
    <%# end %>
</div>
