<div class="w-full space-y-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Turlar" %>

  <div class="flex justify-between items-center bg-white border p-4 rounded-lg">
    <h1 class="font-bold text-2xl">Turlar</h1>
    <%= link_to new_admin_category_path do %>
      <p  class="rounded-lg py-2 px-5 bg-base text-white font-medium flex items-center"><i class='bx bx-layer-plus text-xl mr-2'></i> yangi tur yaratish</p>
    <% end %>
  </div>

  <p class="font-semibold px-4">barcha turlar:</p>

  <div id="admin_categories" class="min-w-full space-y-3">
    <% @admin_categories.each do |admin_category| %>
      <%= render admin_category %>
    <% end %>
  </div>
  <% unless @admin_categories.present? %>
    <div class="w-full flex justify-center items-center my-44 flex-col gap-7">
      <div>
        <%= image_tag "pizza.svg" %>
      </div>
      <div class="text-center space-y-2">
        <h4 class="text-2xl font-bold opacity-70">Hozircha hech qanday tur yoq!?</h4>
        <%= link_to "birinchi turni qoshish", new_admin_category_path, class: "underline text-blue-500" %>
      </div>
    </div>
  <% end %>
</div>
