<div class="w-full bg-white p-5 rounded-lg border my-5">
    <div class="w-full flex flex-col lg:flex-row lg:gap-10 justify-between">
        <div class="flex-1">
            <div class="w-full h-96 overflow-hidden flex items-center justify-center rounded-xl">
                <%= image_tag @product.image, class: "w-full h-full object-cover" %>
            </div>
        </div>
        <div class="flex-1 py-10">
            <h1 class="text-2xl font-medium truncate w-full mb-4"><%= @product.title %></h1>
            <div class="mb-2">
                <p class="opacity-50">taom haqida:</p>
                <p class="font-medium"><%= @product.desc %></p>
            </div>
            <div class="mb-2">
                <p class="opacity-50">taom statusi:</p>
                <p class="font-medium px-2 inline-block <%= @product.is_active ? "bg-green-500" : "bg-red-500" %>"><%= @product.is_active ? "aktiv" : "passiv" %></p>
            </div>
            <div class="mb-2">
                <p class="opacity-50">taom sotib olganlar soni:</p>
                <p class="font-medium px-2 inline-block"><%= @product.order_products.length %> ta</p>
            </div>
            <div data-controller="count">
                <%= form_with url: add_to_cart_cart_index_path, method: :post, local: true, id: "product-form", data: { controller: "count" } do |f| %>
                    <div id="quantity-control">
                      <button type="button" data-action="click->count#decrement" class="py-1 px-4 bg-base rounded-lg text-white font-semibold text-xl active:opacity-70">-</button>
                      <span data-count-target="output" class="py-2 px-4">1</span>
                      <button type="button" data-action="click->count#increment" class="py-1 px-4 bg-base rounded-lg text-white font-semibold text-xl active:opacity-70">+</button>
                    </div>

                    <!-- Hidden input to send the count value -->
                    <%= f.hidden_field :amount, value: 1, data: { count_target: "input" } %>
                    <%= f.hidden_field :product_id, value: @product.id %>

                    <div class="flex flex-col lg:flex-row gap-7 lg:items-center my-5 w-full justify-between">
                        <h3 class="text-xl font-semibold"><span class="opacity-50">Narx: </span><%= @product.price %> sum </h3>
                        <%= button_tag(type: "submit") do %>
                            <p class="bg-base text-white py-2 px-7 font-semibold rounded-lg">Savatchaga <i class='bx bxs-shopping-bag-alt'></i></p>
                        <% end %>
                    </div>
                <% end %>
            </div>
            
        </div>
    </div>
</div>
<div class="w-full flex justify-between items-center mb-5">
    <h2 class="text-2xl font-semibold">Shu turdagi mahsulotlar</h2>
</div>
<div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5 mb-5">
    <% if @related_products.length >= 1 %>
        <% @related_products.each do |pr| %>
            <div class="bg-white border rounded-xl overflow-hidden">
                <%= link_to product_path(pr) do %>
                    <div class="w-full">
                        <%= image_tag pr.thumbnail380, class: "w-full aspect-square object-cover" %>
                    </div>
                <% end %>
                <div class="p-4 w-full space-y-1">
                    <p class="font-bold text-xl w-full truncate"><%= pr.title %></p>
                    <p class="w-full truncate"><%= pr.desc %></p>
                    <p class="">status: <strong class="<%= pr.is_active ? "bg-green-500 text-white px-2" : "bg-red-500 text-white px-2"%>"><%= pr.is_active ? "aktiv" : "passiv" %></strong></p>
                </div>
                <div class="p-4 pt-0 w-full flex justify-between items-center">
                    <%= form_with url: add_to_cart_cart_index_path, method: :post, local: true do |form| %>
                      <%= hidden_field_tag :product_id, pr.id %>
                      <%= hidden_field_tag :amount, 1, min: 1 %>
                      <% if checking_ids.present? and checking_ids.include?(pr.id) %>
                        <%= form.submit "+ 1", class: 'text-base bg-transparent border-2 border-base rounded-md py-2 px-4 cursor-pointer' %>
                      <% else %>
                        <%= form.submit "savatchaga", class: 'text-white bg-base rounded-md py-2 px-4 cursor-pointer ' %>
                      <% end %>
                    <% end %>
                    <p class="flex-1 truncate text-right text-xl text-t_base font-semibold"><%= pr.price %>sum</p>
                </div>
            </div>
        <% end %>
    <% end %>
</div>